
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}

.banner-section{
    max-width: 1920px;
    height: 850px;
    background-color: rgba(229, 84, 115, 0.1);
}
.banner-section-continner{
    width: 90%;
    margin: 0 auto;
    display: flex;
}
.banner-text-container{
    width: 50%;
    height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.banner-text-container p{
    margin-top: 20px;
    text-align: justify;
}

.banner-text-container button{
    padding: 10px 10px;
    background-color: rgb(229, 84, 115);
    border-radius: 5px;
    border: none;
    margin-top: 20px;
}

.banner-img-container{
    width: 50%;
    height: 850px;
    box-sizing: border-box;
   display: flex;
   justify-content: center;
   align-items: center;
}
.banner-img-container img{
    /* width: 100%; */
}
