
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}

/* Header section */

.banner-section{
    max-width: 1920px;
    height: 850px;
    background-color: rgba(229, 84, 115, 0.1);
}
.banner-section-continner{
    width: 90%;
    margin: 0 auto;
    display: flex;
    /* border: 1px solid black; */
}
.banner-text-container{
    width: 50%;
    height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.banner-text-container p{
    margin-top: 20px;
    text-align: justify;
}

.banner-text-container button{
    padding: 10px 10px;
    background-color: rgb(229, 84, 115);
    border-radius: 5px;
    border: none;
    margin-top: 20px;
}

.banner-img-container{
    width: 50%;
    height: 850px;
    box-sizing: border-box;
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.banner-img-container img{
        width: auto;
        height: 850px; 
}

/* header section end */

/* main section start */

.feature-section{
    max-width: 1920px;
    height: 850px;
    /* margin: 0 auto; */
    /* border: 1px solid red; */
    margin-top: 140px;
}

.features-img-container{
    width: 90%;
    height: 850px;
    /* border: 1px solid rgb(1, 1, 1); */
    margin: 0 auto;
}

.features-img-titel{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.features-img-images{
    display: flex;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.features-img-image{
    width: 464px;
    height: 605px;
    /* border: 1px solid rgb(0, 64, 255); */
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 300px 300px 0px 0px;
    border: none;
    padding-bottom: 40px;
    
}

.features-img-1{
    background-color: rgba(167, 33, 98, 0.15);
    position: relative;
    
}
.features-img-2{
    background-color: rgba(5, 151, 160, 0.15);
    position: relative;

}
.features-img-3{
    background-color: rgba(71, 125, 17, 0.15);
    position: relative;

}

.features-img-1 p, .features-img-2 p, .features-img-3 p{
    position: absolute;
    bottom: -50px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: underline;
}


/* info-section */

.info-section{
    max-width: 1920px;
    height: 320px;
    /* margin: 0 auto; */
    /* border: 1px solid red; */
    margin-top: 140px;
}

.info-section-container{
    width: 90%;
    height: 320px;
    /* border: 1px solid rgb(1, 1, 1); */
    margin: 0 auto;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.info-section-1,.info-section-2,.info-section-3{
    width: 372px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.info-section-container  a{
    color: rgba(39, 39, 39, 0.8);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;

}


/* Sales section */

.sale-section{
    max-width: 1920px;
    height: 420px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 140px;
}

.sale-section-container{
    width: 90%;
    height: 420px;
    /* border: 1px solid rgb(1, 1, 1); */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sale-section-content{
    width: 50%;
    margin: 0 auto;
}

.sale-section-text{
    width: 80%;
    height: 420px;
    /* border: 1px solid rgb(1, 1, 1); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.sale-section-img{
    width: 50%;
    height: 420px;
    /* border: 1px solid rgb(215, 11, 11); */
}

.sale-section-text h1{
    font-size: 42px;
    margin-bottom: 20px;
}
.desing{
    color: rgb(229, 84, 115);
}

.sale-section-text button{
    padding: 10px 20px;
    text-align: center;
    border-radius: 8px;
    background: rgb(229, 84, 115);
    border: none;
    margin-top: 20px;
    color: white;
    font-weight: 400;
}
.sale-section-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* social-media-start */
.social-midea{
    max-width: 1920px;
    height: 620px;
    margin-top: 140px;
}
.social-media-container{
    width: 90%;
    height: 620px;
    margin: 0 auto;
    /* border: 2px solid black; */
    
}

.social-media-text{
    /* border: 2px solid black; */
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

.social-media-text h1{
    font-size: 30px;
    margin-bottom: 20px;
}

.social-media-images{
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    
}

.social-media-images img{
    border-radius: 8px;
}

/* Deal section styles */

.deal-section{
    max-width: 1920px;
    height: 420px;
    margin-top: 100px;
}

.deal-section-container{
    width: 90%;
    height: 420px;
    margin: 0 auto;
    border: 2px solid black;
    background-image: url(../images/latest-deals-bg.png);
    background-position: center;
    border: none;
    border-radius: 10px;
}

.deal-section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.deal-section-text h1{
    font-size: 30px;
    margin-bottom: 10px;
}


.deal-section-text p{
    margin-bottom: 20px;
}

.deal-section-container input{
    height: 64px;
    width: 700px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: none;
}

.deal-section-container input::placeholder{
    font-weight: 400;
    Font-size: 16px;
    padding-left: 20px;
}

.deal-section-container button{
    width: 150px;
    height: 64px;
    border-radius: 8px;
    background: rgb(229, 84, 115);
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

/* footer style start */

.footer{
    width: 1920px;
    height: 449px;
    background-color: black;
    margin-top: 140px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-details{
    display: flex;
    /* flex-direction: column */
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 40%;
}

/* .footer-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
} */

.footer-text h1{
    font-size: 30px;
    margin-bottom: 20px;
}

.desing-2{
    color: rgb(229, 84, 115);;
}

.footer-text p{
    margin-bottom: 20px;
}

.desing-3{
    color: rgba(255, 255, 255, 0.4);
}
